datasets/*/all.dat-rep-PTR
datasets/*/all.dat-group-*
datasets/*/all.dat-representations-temp
datasets/*/all.dat-training_time
datasets/*/all.dat-training-temp
.vscode
Partition/__pycache__
Search/test_search
